<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
        <key>UIImageName</key>
        <string>IA-Music-fairy-1024</string> <!-- Name of the image in Assets.xcassets -->
        <key>UIImagePosition</key>
        <string>Center</string> <!-- Image positioning on the screen -->
        <key>UIContentMode</key>
        <string>AspectFit</string> <!-- Scaling mode for the image -->
	</dict>
</dict>
</plist>
